

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



#sidebar-wrapper {

    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #EFEFEF;
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: solid #E6E6E6;


}

/*#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
 Sidebar Styles */

.sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 20;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 55px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #7F7F7F;
}




.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 40vh;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}



#menu-open {
    position : absolute; top: -30px;

}

#menu-open-button {
    position : fixed; top: 0px;

}

#menu-close-button {
    position : absolute; right: 20px;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #wrapper.menu-open {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.menu-open #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.menu-open #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #wrapper.menu-open #menu-open {
        position : relative; top: 20px;
    }
    img.cover-main{
        width: 40%;
        margin-left:30% ;
        margin-right: 30%;

    }

}
