@font-face {
    font-family: 'moonFlower';
    src: local('fonts/moon_flower-webfont.ttf');
}


.caption_text{
  font-size: 20px;
  font-family: helvetica;
  color: grey;
  font-weight: lighter;
  text-align: center;
}
.caption_title{
  text-align: center;
  color:grey;
  font-size: 50px;
  font-family: moonFlower;
}




.thumbnail {
    position:relative;
    overflow:hidden;
    border:none;
    border-radius: 20px;

}

.caption {
    position:absolute;
    top:0px;
    right:0px;
    background:rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    width:100%;
    height:100%;
    padding:20%;
    display: none;
    text-align:center;
}

.cover-main {
  padding-top: 100px;
  padding-bottom: 100px;
}
.tag_search p{
  display: inline;
  border-style: solid;
  border-width: 4px;
  background: #EFEFEF;
  border-color: #EFEFEF;
  color: #7F7F7F;
  border-radius: 200px
}

.tag_search h6{
  display: inline;
}
.tag_search_showall p{
  display: inline;
  border-style: solid;
  border-width: 4px;
  background: #7F7F7F;
  border-color: #7F7F7F;
  color: #EFEFEF;
  border-radius: 200px
}
.tag_names p{
  display: inline;
  border-style: solid;
  border-width: 4px;
  background: #7F7F7F;
  border-color: #7F7F7F;
  color: #EFEFEF;
  border-radius: 200px
}
.tag_names{
  text-align: right;
  position: absolute;
  bottom: 15px;
  left: 15px;

}

.tag_search{
  padding-bottom: 20px;
}
