
.caption_text{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  font-weight: lighter;
  text-align: center;
}
.caption_title{
  text-align: center;
  color:black;
  font-size: 70px;
  font-family: 'Poiret One', cursive;
}




.thumbnail {
    position:relative;
    overflow:hidden;
    border:none;
    border-radius: 20px;

}
.page_title h1{
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.caption {
    position:absolute;
    top:0px;
    right:0px;
    background:rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width:100%;
    height:100%;
    padding:20%;
    display: none;
    text-align:center;
}

.cover-main {
  padding-top: 100px;
  padding-bottom: 100px;
}
.tag_search p{
  font-family: 'Ubuntu', sans-serif;
  display: inline;
  border-style: solid;
  border-width: 4px;
  background: #EFEFEF;
  border-color: #EFEFEF;
  color: rgba(127, 127, 127, 0.5);;
  border-radius: 200px
}

.tag_search h6{
  display: inline;
}
.tag_search_showall p{
  font-family: 'Ubuntu', sans-serif;
  display: inline;
  border-style: solid;
  border-width: 4px;
  background: #7F7F7F;
  border-color: #7F7F7F;
  color: #EFEFEF;
  border-radius: 200px
}
.tag_names p{
  display: inline;
  border-style: solid;
  border-width: 4px;
  background: #7F7F7F;
  border-color: #7F7F7F;
  color: #EFEFEF;
  border-radius: 200px
}
.tag_names{
  text-align: right;
  position: absolute;
  bottom: 15px;
  left: 15px;

}

.tag_search{
  padding-bottom: 20px;
}
/*PROJECTS*/
.back_to_home_button {
  text-align: left;
  padding-left: 40px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}
.back_to_home_button a{
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(100, 100, 100);
}


.projects_page_title h1{
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ECECEC;
  text-shadow: 1px 1px 1px rgb(100, 100, 100);
}
.projects_head_background{
  background-color: #B0B0B0;
}
.projects_head a{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #ECECEC;
  text-shadow: 1px 1px 1px rgb(100, 100, 100);
  text-decoration: none;
  font-weight: lighter;
  text-align: center;
}
.content_text_description{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 50px;
}

.projects-ingredients{

  position:relative;
  overflow:hidden;
  border:none;
  border-radius: 20px;

}
.content_text{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  font-weight: lighter;
  text-align: center;
}
.content_title h1{
  text-align: center;
  color:black;
  font-size: 70px;
  font-family: 'Poiret One', cursive;
}
.content_title h2{
  text-align: center;
  color:black;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
.projects_video {
  width: 100%;
  height: auto;
}

@media(min-width:768px) {
.top_space_100{
  padding-top: 100px
}
.top_space_50{
  padding-top: 50px
}
.top_space_25{
  padding-top: 25px
}
.side_space_100{
  padding-right: 15%;
  padding-left: 15%;
}
.bottom_space_50{
  padding-bottom: 50px;
}

}

@media(min-width:300px) {
.top_space_100{
  padding-top: 100px
}
.top_space_50{
  padding-top: 50px
}
.top_space_25{
  padding-top: 25px
}
.side_space_100{
  padding-right: 10%;
  padding-left: 10%;
}

}
video#projects_hyperlapse{
    min-width: 100%;
    position:relative;
    z-index:0;

}
