.caption_text p{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  color:white;
  position: relative;

}

.caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.tag_names p{
  display: inline;
  border-style: solid;
  border-width: 4px;
  background:#FFB800;
  border-color: #FFB800;
  color: #212930;
  border-radius: 0px;
  position: relative;
  font-weight: bold;
}
.tag_names{
  text-align: left;
  position: relative;
}
.thumbnail_home {
margin-bottom: 30px;
 position: relative;
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%);
}

.thumbnail_home:hover{
  transition: all 0.5s ease;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.thumbnail_home h1{
  z-index: 1;
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 0.3px 0.3px 1px black;

}

.project_image {
position: relative;
}



.page_title h1{
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-shadow: 0.5px 0.5px 0.5px #DA9F00;
}
.page_title1 h1{
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 50px;
  padding-top: 10;
  padding-bottom: 10;
  text-shadow: 0.3px 0.3px 1px black;
}


.cover-main {
  padding-top: 100px;
  padding-bottom: 100px;
}
.tag_search p{
  font-family: 'Ubuntu', sans-serif;
  display: inline;
  border-style: solid;
  border-width: 4px;
  background: #212930;
  border-color: #212930;
  color: #FFB800;
  border-radius: 0px;
  font-size: 15px;
}

.tag_search h6{
  display: inline;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #212930;

}
.tag_search_showall p{
  background-color: white;
  border-color: white;
  color: #212930;
}

.footer_page{
  background-color: #232A2F;
  overflow: hidden;
}
.footer_page p{
  color: white;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
  padding-right: 50px;
  padding-top: 20px;
  font-size: 20px;

}
.footer_icon img{
  display: inline;
  width: 100px;
}
.footer_icon {
  position: relative;

}

.tag_search{
  padding-bottom: 20px;
}
/*PROJECTS*/
.back_to_home_button {
  text-align: left;
  padding-left: 40px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}
.back_to_home_button a{
  color: #FFB800;
  text-decoration: none;
  text-shadow: 0.3px 0.3px 0.3px rgb(100, 100, 100);
}


.projects_page_title h1{
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #FFB800;
  text-shadow: 0.3px 0.3px 0.3px rgb(100, 100, 100);
}
.projects_head_background{
  background-color: #232A2F;
}
.page_projects_background{
  background-color: #FFB900;
}
.page_contact_background{
  background-color: #2C323B;
}

.projects_head a{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #ECECEC;
  text-shadow: 0.3px 0.3px 0.3px rgb(100, 100, 100);
  text-decoration: none;
  font-weight: lighter;
  text-align: center;
}
.page_head_background{
  background-color:#232A2F;
}
.page_shadow{
  height: 5px;
  background-color: #D99E00;

}
.content_text_description{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-weight: lighter;
  text-align: left;
  padding-bottom: 50px;
}


.content_text{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  font-weight: lighter;
  text-align: left;
}
.content_title h1{
  text-align: center;
  color:black;
  font-size: 70px;
  font-family: 'Poiret One', cursive;
}
.ingredients_title_black h1{
  text-align: center;
  color:black;
  font-size: 55px;
  font-family: 'Poiret One', cursive;
}
.ingredients_title_white h1{
  text-align: center;
  color:#FFB800;
  font-size: 55px;
  font-family: 'Poiret One', cursive;
}
.ingredients_title_black h2{
  text-align: center;
  color:black;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
.ingredients_title_white h2{
  text-align: center;
  color:#FFB800;
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
.projects_video {
  width: 100%;
  height: auto;
  border-color: white;
  border-width: 40px;

}

.top_space_100{
  padding-top: 100px
}
.top_space_50{
  padding-top: 50px
}
.top_space_25{
  padding-top: 25px
}
.side_space_100{
  padding-right: 20%;
  padding-left: 20%;
}
.side_space_home_100{
  padding-right: 10%;
  padding-left: 10%;
}
.bottom_space_100{
  padding-bottom: 100px;
}
.bottom_space_50{
  padding-bottom: 50px;
}
@media only screen and (max-width: 1200px) {
  .side_space_100{
    padding-right: 7%;
    padding-left: 7%;
  }
  .side_space_home_100{
    padding-right: 7%;
    padding-left: 7%;
  }
}
@media only screen and (max-width: 700px) {
.projects_page_title h1{
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content_text_description{
  font-size: 15px;
}
.content_text{
  font-size: 15px;
}
.content_title h1{
  font-size: 50px;
}
.ingredients_title_black h1{
  font-size: 40px;
}
.ingredients_title_white h1{
  font-size: 40px;
}
.ingredients_title_black h2{
  font-size: 30px;
}
.ingredients_title_white h1{
  font-size: 40px;
}

.top_space_100{
  padding-top: 10px
}
.top_space_50{
  padding-top: 10px
}
.top_space_25{
  padding-top: 5px
}
.side_space_100{
  padding-right: 5%;
  padding-left: 5%;
}
.side_space_home_100{
  padding-right: 5%;
  padding-left: 5%;
}
.bottom_space_100{
  padding-bottom: 30px;
}
.bottom_space_50{
  padding-bottom: 15px;
}
.page_title h1{
  font-size: 60px;
}

}

.color_white{
  color: #FFB800;
}
.color_black{
  color: #212930;
}

body {
  background-color: #232A2F;
}
.projects_body_background {
  background-color: white;
}

.tg  {
  border-collapse:collapse;border-spacing:0;
}
.tg td{
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  padding:10px 5px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  font-weight: lighter;
  text-align: center;
  border-color: grey;
}
.tg th{
  border-style:solid;
  border-width:1px;
  border-color: grey;
  overflow:hidden;
  word-break:normal;
  padding:10px 5px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: lighter;
  text-align: center;
}
.tg .tg-yw4l{
  vertical-align:top;
}
.note_background{
  background-color: #D1D1D1;
  margin-top: 50px;

}
.side_note {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: lighter;
  text-align: left;
padding-bottom: 10px;
padding-left: 10px;
}
.side_note_title {
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: lighter;
  text-align: center;
}
